Makefile.in
Makefile
aclocal.m4
autom4te.cache/
build-aux/
*.o
configure
config.log
config.status
lighttpd/lighttpd.conf
steamos-reset-wrapper
steamos-reset.sh
.deps
qml/*.qrc
qml/Makefile
*~
qml/.qmake.stash
cef/build/
*.sha1.ok
cef/third_party/cef/*.tar.bz2
.dirstamp
