Makefile.in
Makefile
aclocal.m4
autom4te.cache/
build-aux/
*.o
configure
config.log
config.status
lighttpd/*.conf
steamos-reset-wrapper
steamos-reset.sh
.deps
qml/*.qrc
qml/Makefile
qml/qrc_qmake_resources.cpp
*~
qml/.qmake.stash
cef/build/
*.sha1.ok
cef/third_party/cef/*.tar.bz2
.dirstamp
steamos-reset-service
steamos-reset-tool
holo-reset
steamos-factory-reset.*.desktop
