/*
 SPDX-License-Identifier: GPL-2.0+

 Copyright © 2022 Collabora Ltd
 Copyright © 2022 Valve Corporation
*/

html { min-height:100% }

body
{
    background-color: #78797a;
    background-size: cover;
    overflow: hidden;
    margin: unset;
    margin-top: 0px;
    min-height: 100%;
    font-family: Helvetica, sans-serif;
}

.control
{
    background-color: rgba(90, 90, 90, 1.0);
    height: 30px;
}

.logs
{
    display:block;
    background-color: black;
    min-width: 400px;
    color:#AAAAAA;
    padding: 1px;
    align-content:left;
    width: 100%;
}

.logs > pre
{
    padding: 0px;
    margin: 0px;
}

#ui
{
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

#intro
{
    display: block;
}

#heading
{
    border-radius: 8px;
    border: 3px solid white;
    box-sizing: border-box;
    background-color: rgb(140, 140, 140);
    width: 100%;
    text-align: center;
}

.uiblock
{
    border-radius: 8px;
    border: 3px solid white;
    box-sizing: border-box;
    background-color: rgb(140, 140, 140);
    width: 100%;
    height: 100%;
}

#status-log { width: 100%;    }
#start      { display: block; }
.operation  { display: none;  }
.debug      { display: none;  }

.control:hover
{
  cursor:pointer;
  border: 2px;
  border-color:blue;
  color: cyan;
}

.control:active
{
    cursor:pointer;
    border-color:blue;
    border: solid yellow 2px;
}

