[Desktop Entry]
Name=Holo Reset (@VARIANT@)
Icon=/usr/share/holo-reset/holo-reset
Comment=Reinstall an official Holo image and erase all personal data
Type=Application
Exec=holo-reset --ui @variant@
SingleMainwindow=true
